#grunwald {
	display: block;
	width: 300px;
	height: 300px;
	border: 1px solid #000;
	background-image: url(../images/grunwald.jpg);
	background-position: center;
	/*background: url(../images/grunwald.jpg) center; - Skrócona wersja */
	background-size: cover;
	background-repeat: no-repeat;
}

img{
    filter: sepia(100%);
    transition: 1.5s all;
}

a p{
    position:absolute;
    top: 0;
    color: #fff;
    display:none;
}

a:hover p{
    display:block;
}

a:hover img{
    filter: sepia(0);
}