* {
	margin: 0;
	padding: 0;
}

.black {
	background-color: #000;
	width: 100%;
}

.container {
	width: 1110px;
	display: block;
	margin: 0 auto;
}

.header__head {
	padding: 1rem 0;
}

#logo {
	color: #fff;
	display: inline;
	font-size: 2rem;
	padding: 1rem 0;
}

nav {
	display: inline;
	float: right;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
}

nav a {
	display:inline-block;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: .6rem .4rem;
}

nav a:hover {
	text-decoration: none;
}

.content {
	padding: 1rem 0; 
	display: block;
}

.content .content__bg  {
	width: 50%;
	display: block;
	float: left;
}
.content__bg.black__box {
	background-color: #000;
	max-width: 100%;
	height: 200px;
}
.content__bg.white__box {
	float: right;
}

.content .box__box {
    width: 33.33%;
    float: left;
    color: #000;
}


.content::after{
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}
