p {
    font-size: 12px !important;
}

p {
    font-size: 40px;
}

p {
    font-size:20px;
    
}

p:nth-of-type(2){
    font-size:10px;
}

p, span {
    background-color: yellow;
}

#identyfikator {
    background-color: red;
}

div {
    background-color: blue;
}

.klasa {
    background-color: green;
}
